<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>BlockChain app</title>
</head>
<body>
<div class="content" align="center">
   <h1>
       BlockChain
   </h1>
    <h3>Make transactions</h3>

    <br>
    <br>


    <form action="/" method="POST">

        <table>

        <tr>
            <th>Sender Name</th>
            <th>

                <input type="text" name="sender">

            </th>
        </tr>

        <tr>
            <th>Receiver Name</th>
            <th>

                <input type="text" name="receiver" id="receiver">

            </th>
        </tr>

        <tr>
            <th>Amount</th>
            <th>

                <input type="text" name="amount" id="amount">

            </th>
        </tr>

    </table>

        <br>
        <input type="submit" name="Submit" id="submit">

    </form>



    <br>


    <a href="all_transaction">see all transaction</a>




</div>

</body>
</html>